a {
    /* font-size: 50px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: lightcoral;
    display: inline-block; */

    /* font-size: 50px; */
    font-size: 20px;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    background-color: lightcoral;
    display: inline-block;
}