* {
    padding: 0;
    margin: 0;

}

.box-1 {
    background-color: blueviolet;
    max-width: 1000px;
    height: 400px;

}

.box-2 {
    background-color: burlywood;
    max-width: 1000px;
    /* height: 300px; */
    max-height: 300px;
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;

}