/* 

-----------------TYPOGRAPHY--------------
FONT SIZE
12Px/16px/20px/24px/32px/40px/48px/62px

FONT WEIGHT
400/600

LINE HEIGHT
1.2/1.5

LETTER SPACING
0/-2

PONT FAMILY
POPPINS

-----------------COLOR--------------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base:   #9775fa(Lavendar)
Tint: #e5dff  (Moonlight Iris)
Shade: #7048e8

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffeBcc (Dawn)
Shade: #f76707 (Lava)

GREY
Base:   #495057 (State) 
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
*/

/* ----------------------GLOBAL STYLE---------------------- */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495058;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529
}

h1 {
    font-size: 62px;

}

h2 {
    font-size: 48px;
}

h3 {

    font-size: 40px;
}

h4 {

    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;

}

ul {
    list-style: none;
}

.small-text {
    font-size: 12px;
}

/* ----------------------COMPONENT---------------------- */
.btn {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
}

.btn-primary:link,
.btn-primary:visited {
    color: #ffffff;
    background-color: #339af0;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #1c7ed6;
}

.btn-secondary:link,
.btn-secondary:visited {
    color: #ffffff;
    background-color: #9775fa;
}

.btn-secondary:hover,
.btn-secondary:active {
    color: #fff;
    background-color: #7048e8;
}


.highlight {
    color: #fff;
}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

.logo-md {
    width: 100px;
}

.logo-sm {
    width: 80px;
}

/* ----------------------SECTION---------------------- */
/* -----------HERO SECTION----------- */
.hero-section {
    text-align: center;
}

/* -----------FEATURE SECTION----------- */
.feature-main-heading {
    text-align: center;
}

.feature-img {
    width: 400px;
}

/* -----------CTA SECTION----------- */



.cta-section {
    text-align: center;
}

.cta-card {
    text-align: center;
    background-color: #1c7ed6;
    width: 1000px;
}

/* -----------FOOTER SECTION----------- */
.footer {
    text-align: center;
}

.social-icons {
    width: 20px;
}