/* 

--------------TYPOGRAPHY--------------
FONT SIZE
12Px/16px/20px/24px/32px/40px/48px/62px

FONT WEIGHT
400/600

LINE HEIGHT
1.2/1.5

LETTER SPACING
0/-2

PONT FAMILY
POPPINS

--------------COLOR--------------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base:   #9775fa(Lavendar)
Tint: #e5dff  (Moonlight Iris)
Shade: #7048e8

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffeBcc (Dawn)
Shade: #f76707 (Lava)

GREY
Base:   #495057 (State) 
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)


--------------BORDER RADIUS--------------

4px/8px/20px

--------------SPACING SYSTEM--------------

5px/10px/15px/20px/25px/30px/40px/50px/60px/70px /80px/90px/100px/125px/150px/200px/ 250px/300px/ 400px/ 500px

*/




/* ----------------------GLOBAL STYLE---------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495058;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: #212529
}

h1 {
    font-size: 6.2rem;

}

h2 {
    font-size: 4.8rem;
}

h3 {

    font-size: 4rem;
}

h4 {

    font-size: 3.2rem;
}

h5 {
    font-size: 2.4rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;

}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.small-text {
    font-size: 1.2rem;
}

/* ----------------------COMPONENT---------------------- */
.btn {
    font-weight: 400;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}

.btn-primary:link,
.btn-primary:visited {
    color: #ffffff;
    background-color: #339af0;
    border: 2px solid #339af0;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #1c7ed6;
    border: 2px solid #1c7ed6;
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
    color: #339af0;
    background-color: #ffffff;
    border: 2px solid #339af0;
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
    color: #1c7ed6;
    background-color: #ffffff;
    border: 2px solid #1c7ed6;
}

.btn-secondary:link,
.btn-secondary:visited {
    color: #ffffff;
    background-color: #9775fa;
    border: 2px solid #9775fa;
}

.btn-secondary:hover,
.btn-secondary:active {
    color: #fff;
    background-color: #7048e8;
    border: 2px solid #7048e8;
}


.highlight {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;

}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

.logo-md {
    width: 100px;
}

.logo-sm {
    width: 80px;
}

/* ----------------------SECTION---------------------- */

.header {
    height: 100vh;
    min-height: 800px;
}

/* -----------NAVBAR----------- */
.navbar {
    margin-bottom: 20rem;
}

/* -----------HERO SECTION----------- */
.hero-section {
    text-align: center;
    margin-bottom: 30rem;
}


.hero-heading {
    margin-bottom: 1rem;
}

.hero-paragraph {
    margin-bottom: 5rem;
}

/* -----------FEATURE SECTION----------- */
.feature-section {
    margin-bottom: 30rem;
}

.feature-main-heading {
    text-align: center;
    margin: 8rem;
}

.feature-heading {
    margin-bottom: 2rem;
}

.feature-img {
    max-width: 400px;
    width: 100%;
}

/* -----------CTA SECTION----------- */


.cta-section {
    margin-bottom: 30rem;

}

.cta-card {
    text-align: center;
    background-color: #1c7ed6;
    max-width: 1000px;
    padding: 10rem 20rem;
    margin: 0 auto;
    border-radius: 20px;
}

.cta-heading {
    margin-bottom: 3rem;
}

/* -----------FOOTER SECTION----------- */
.footer {
    text-align: center;
}

.social-icons {
    width: 20px;
}