.flex-container {
    height: 800px;
    background-color: lightgray;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}

.item-1 {
    /* width: 200px;
    height: 100px; */
    background-color: blue;
    font-size: 90px;
    margin-right: 20px;
}

.item-2 {
    /* width: 50px;
    height: 300px; */
    background-color: purple;
    font-size: 200px;
    margin: 10px;
}

.item-3 {
    /* width: 100px;
    height: 150px; */
    background-color: red;
    font-size: 150px;
    padding: 50px;
}

.item-4 {
    /* width: 150px;
    height: 50px; */
    background-color: green;
    font-size: 100px;
}