.inline-element {
    width: 100px;
    height: 100px;
    padding: 100px 100px;
    background-color: lightgreen;
    border: 10px solid red;
    margin: 100px 100px;
    /* display: inline; */
    /* display: block; */
    display: inline-block;
}

.replaced-inline-element {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 30px;
    border: 10px solid salmon;
}