/* global reset 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 */


/* element reset 
a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
*/
* {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 50px;
    list-style: none;
}