.flex-container {
    background-color: beige;
    display: flex;
}

.flex-item-1 {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    flex-grow: 1;
}

.flex-item-2 {
    background-color: purple;
    width: 100px;
    height: 100px;
    flex-grow: 2;
}

.flex-item-3 {
    background-color: green;
    width: 100px;
    height: 100px;
    flex-grow: 0;
}

.flex-item-4 {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-grow: 0;
}