.flex-container {
    background-color: #e4e4b3;
    display: flex;
    height: 500px;
    width: 1000px;
    align-items: center;
}

.flex-item-1 {
    background-color: lightcoral;
    width: 200px;
    height: 100px;
    order: 3;
}

.flex-item-2 {
    background-color: purple;
    width: 200px;
    height: 100px;
    /* order: 0;default */
    order: 2;

}

.flex-item-3 {
    background-color: green;
    width: 200px;
    height: 100px;
    order: 1;
}

.flex-item-4 {
    background-color: red;
    width: 200px;
    height: 100px;
    order: -1;

}