.flex-container {
    background-color: #e4e4b3;
    display: flex;
    height: 500px;
    width: 1000px;
    align-items: flex-end;
}

.flex-item-1 {
    background-color: lightcoral;
    width: 200px;
    height: 100px;
    /* align-self: auto; (default) */
    align-self: flex-start;
    /* align-self: flex-end; */
}

.flex-item-2 {
    background-color: purple;
    width: 200px;
    /* height: 100px; */
    align-self: stretch;



}

.flex-item-3 {
    background-color: green;
    width: 200px;
    height: 100px;
    align-self: center;
}

.flex-item-4 {
    background-color: red;
    width: 200px;
    /* height: 100px; */
    font-size: 50px;
    align-self: baseline;

}