.main-container {
    height: 800px;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;

}