* {
    margin: 0;
    padding: 0;
}

.parent-container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-container {
    background-color: lightcoral;
    width: 300px;
    height: 300px;
    /* margin: 0 auto; */
}